@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    background-image: repeating-linear-gradient(90deg, #c9c9c9, #c9c9c9 7px, transparent 7px, transparent 13px, #c9c9c9 13px);
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
}

.highlight{
    background: linear-gradient(0deg, #AAEEC4, transparent 50%);
  }

